---
import Layout from '@layouts/SpeakingLayout.astro'
import ResultPage from '@components/ResultPage.astro';
import Speaking from '@components/Speaking.astro';
import Home from '@components/Home.astro'

---

<Layout title="Speaking">
  <Home/>
     <Speaking test="Test 2. Environmental Problem"/>

     <audio src="/mock-tests/test002/1.mp3" id="audio1"></audio>
     <audio src="/mock-tests/test002/2.mp3" id="audio2"></audio>
     <audio src="/mock-tests/test002/3.mp3" id="audio3"></audio>
     <audio src="/mock-tests/test002/4.mp3" id="audio4"></audio>
     <audio src="/mock-tests/test002/5.mp3" id="audio5"></audio>
     <audio src="/mock-tests/test002/6.mp3" id="audio6"></audio>
     <audio src="/mock-tests/test002/part2/intro.mp3" id="audio7"></audio>
     <audio src="/mock-tests/test002/part2/1.mp3" id="audio8"></audio>
	 <audio src="/mock-tests/test002/part3/intro.mp3" id="audio9"></audio>
	 <audio src="/mock-tests/test002/part3/1.mp3" id="audio10"></audio>
	 <audio src="/mock-tests/test002/part3/2.mp3" id="audio11"></audio>
	 <audio src="/mock-tests/test002/part3/3.mp3" id="audio12"></audio>
	 <audio src="/mock-tests/test002/part3/4.mp3" id="audio13"></audio>
	 <audio src="/mock-tests/test002/part3/5.mp3" id="audio14"></audio>
	 <audio src="/mock-tests/test002/part3/end.mp3" id="audio15"></audio>
                        
</Layout>

<script is:inline>
 var q=[
  "Do you think it is important to keep the city clean?",
  "Do you recycle things like paper and plastic?",
  "What do you do when you see rubbish on the street?",
  "Can you suggest why some people throw their litter on the ground?",
  "Do you think plastic bags are a serious environmental problem?",
  "Do you think it is important to protect the environment?",
  '<p><b>Describe a time you visited a place with your friends.</b></p><p>You should say:</p><ul><li>Where you went</li><li>What you did there</li><li>whom you were with</li><li>and explain why it was a memorable experience.</li></ul><br><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Izoh yozish uchun"></textarea>',
  "Do you think childhood friendship can last for long?",
  "Is it important that people should have good friendship while at work?",
  "Do you remember the friends you had made in your childhood?",
  "Is it easy to make friends now as compared to the past?",
  "What are the important qualities of a good friend?"
]

</script>

<script src="../../../scripts/quiz.js"></script>  

