---
import Layout from '@layouts/SpeakingLayout.astro'
import ResultPage from '@components/ResultPage.astro';
import Speaking from '@components/Speaking.astro';
import Home from '@components/Home.astro'

---

<Layout title="Speaking">
	<Home/>
     <Speaking test="Test 1. Festivals"/>

     <audio src="/mock-tests/test01/1.mp3" id="audio1"></audio>
     <audio src="/mock-tests/test01/2.mp3" id="audio2"></audio>
     <audio src="/mock-tests/test01/3.mp3" id="audio3"></audio>
     <audio src="/mock-tests/test01/4.mp3" id="audio4"></audio>
     <audio src="/mock-tests/test01/5.mp3" id="audio5"></audio>
     <audio src="/mock-tests/test01/6.mp3" id="audio6"></audio>
     <audio src="/mock-tests/test01/part2/intro.mp3" id="audio7"></audio>
     <audio src="/mock-tests/test01/part2/1.mp3" id="audio8"></audio>
	 <audio src="/mock-tests/test01/part3/intro.mp3" id="audio9"></audio>
	 <audio src="/mock-tests/test01/part3/1.mp3" id="audio10"></audio>
	 <audio src="/mock-tests/test01/part3/2.mp3" id="audio11"></audio>
	 <audio src="/mock-tests/test01/part3/3.mp3" id="audio12"></audio>
	 <audio src="/mock-tests/test01/part3/4.mp3" id="audio13"></audio>
	 <audio src="/mock-tests/test01/part3/5.mp3" id="audio14"></audio>
	 <audio src="/mock-tests/test01/part3/end.mp3" id="audio15"></audio>
        <ResultPage/>                
</Layout>

<script is:inline>
    var q=[
  "What is your favourite festival?",
  "How do you celebrate the festival?",
  "What is the most popular festival in your country?",
  "Do you like western festivals?",
  "Where do people usually go during festivals?",
  "With whom do you like to celebrate festivals?",
  '<p><b>Describe a piece of technology that you use a lot.</b></p><p>You should say:</p><ul><li>What is it?</li><li>What you use it for</li><li>how long you have been using it</li><li>and say how you would feel without it</li></ul><br><textarea id="izoh" rows="4" class="hidden my-3 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Take some notes..."></textarea>',
  "In your opinion, is technology making people's lives easier?",
  "What kinds of modern technology do people rely on their daily life?",
  "How much has technology improved and how we communicate with each other?",
  "Do you think that the advance of technology has improved standards of education in schools?",
  "Do you think people rely too much on technology today?"
]

</script>

<script src="../../../scripts/quiz.js"></script>  

