<section id="home">
<header class="sticky top-0 shadow-xl p-4 bg-blue-600 text-gray-50 text-xl font-semibold">
    <h1>ExamOnline - Speaking Test</h1>
    </header>
    <main class="py-5 text-center flex flex-col justify-start items-center">
    <div class="text-lg text-gray-100 my-3 container mx-auto px-4">
    <p>Gapirish bo'limi 3 ta qismdan iborat</p>
    <ul>
        <li>Part 1: 6 ta savol</li>
        <li>Part 2: Maxsus savol (davomiyligi: 2 daqiqa)</li>
        <li>Part 3: 5 ta savol (Part 2 ga oid savollar)</li>
      </ul>
    
    <p>Ushbu bo'limda oldingi savolga yoki oldingi qismga qaytishning imkoni yo'q. Mikrofon avtomatik ravishda yoqiladi va o'chiriladi.</p>
    
    <p>Savol uchun ajratilgan vaqt tugagach, keyingi savol avtomatik tarzda ochiladi.</p>
    </div>
    
    <a href="#" id="start" class=" bg-emerald-500 rounded  text-gray-800 font-semibold text-xl px-8 my-2 py-2 shadow-lg"> ⚠️ Imtihonni boshlash</a>
    
    </main>
</section>
    <style>
    button{
        width:70%
    }
    
    .alert-warning {
        background: rgb(255, 236, 129);
    } 
    
    .alert-success{
        background: rgb(71, 233, 168)
    }
    
    .disabled{
        background: rgb(142, 246, 177)
    }
    
    @media screen and (max-width:660px){
        button{
        width:90%
    }
    }
    </style>
