<nav class="sticky top-0 py-3 px-3 backdrop-filter backdrop-blur-lg bg-opacity-30  py-2 w-full flex items-center justify-between gap-x-2">
    <a class="mx-3 flex items-center" href="/">
    <p class="mx-2 text-2xl font-bold">IELTS PRO</p>
    </a>
    <button onclick='window.location.href="/signin"' class="py-2 px-5 rounded-full border-2 border-gray-800 text-white font-medium bg-gray-800 focus:ring-4 focus:ring-blue-300 mx-3">Login</button>
</nav>