<section id="resultPage" class="hidden container px-4 mx-auto text-left flex flex-col">
<h1 class="p-4 text-2xl font-bold text-center text-blue-600 underline decoration-dotted ">Your Response</h1>
<div id="answers" class="list-decimal container font-medium px-4 mx-auto text-left flex flex-col gap-2">
<audio id="audioResponse" class="container mx-auto px-4" controls></audio>
<a class="mt-6 w-[200px] mx-auto text-center text-xl py-2 px-5 inline-block bg-blue-600 rounded-full text-white" href="/dashboard">Back to Topics</a>
</div>
</section>
