---
import Layout from '@layouts/SpeakingLayout.astro'
import ResultPage from '@components/ResultPage.astro';
import Speaking from '@components/Speaking.astro';
import Home from '@components/Home.astro'

---

<Layout title="Speaking">
  <Home/>
     <Speaking test="Test 4. Math" />

     <audio src="/mock-tests/test04/1.mp3" id="audio1"></audio>
     <audio src="/mock-tests/test04/2.mp3" id="audio2"></audio>
     <audio src="/mock-tests/test04/3.mp3" id="audio3"></audio>
     <audio src="/mock-tests/test04/4.mp3" id="audio4"></audio>
     <audio src="/mock-tests/test04/5.mp3" id="audio5"></audio>
     <audio src="/mock-tests/test04/6.mp3" id="audio6"></audio>
     <audio src="/mock-tests/test04/part2/intro.mp3" id="audio7"></audio>
     <audio src="/mock-tests/test04/part2/1.mp3" id="audio8"></audio>
	 <audio src="/mock-tests/test04/part3/intro.mp3" id="audio9"></audio>
	 <audio src="/mock-tests/test04/part3/1.mp3" id="audio10"></audio>
	 <audio src="/mock-tests/test04/part3/2.mp3" id="audio11"></audio>
	 <audio src="/mock-tests/test04/part3/3.mp3" id="audio12"></audio>
	 <audio src="/mock-tests/test04/part3/4.mp3" id="audio13"></audio>
	 <audio src="/mock-tests/test04/part3/5.mp3" id="audio14"></audio>
	 <audio src="/mock-tests/test04/part3/end.mp3" id="audio15"></audio>
   <ResultPage/>               
</Layout>

<script is:inline>
  
  var q=[
  "Do you like math?",
  "Do you think females are good at maths?",
  "When did you start learning Math?",
  "Do you think maths is important?",
  "Who taught you maths?",
  "Is maths difficult for you to learn?",
  `<p><b>Describe a singer that you like.</b></p><p>You should say:</p><ul><li>Who the person is</li><li>How you know the person</li><li>what you liked about your friend</li><li>And explain why you like the person</li></ul><br><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Izoh yozish uchun"></textarea>`,
  "What kinds of music are popular in your country?",
  "Do singers make lots of money?",
  "Do you play any musical instruments?",
  "What do old people like to listen to?",
  "How do you think music affects on person's mood?"
]

</script>


<script src="../../../scripts/quiz.js"></script>  

