---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="sm:max-h-[400px] sm:overflow-y-auto
sm:[&::-webkit-scrollbar]:w-2
sm:[&::-webkit-scrollbar-track]:rounded-full
sm:[&::-webkit-scrollbar-thumb]:rounded-full
sm:[&::-webkit-scrollbar-track]:bg-slate-700
sm:[&::-webkit-scrollbar-thumb]:bg-slate-500">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="ExamOnline Edumo - Multilevel imtihoniga tayyorlovchi platforma"/>
		<title>{title}</title>
		<script is:inline src="/js/jquery-3.6.4.min.js"></script>
	</head>
	<body class="bg-slate-800">
		<slot />
	</body>
</html>
<style is:global>

	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
<script is:inline src="/js/moment.min.js"></script>
